{% extends "base.html" %}
{% block title %} About Page {% endblock %}
{% block content %}
<h1>About Us!!</h1>
<p>We offer a comprehensive exploration of Manila's rich historical heritage, providing engaging content and interactive resources to educate individuals about the significant landmarks and cultural sites that shape the city's captivating past.</p>

<center><img src="/media/@reallygreatsite.png" alt="Anime"  height="75%" width="75%"></center>
<h2>Our Mission</h2>
Our mission is dedicated to facilitating a comprehensive understanding of Manila's historical places. By providing accessible and engaging resources, we aim to assist individuals in delving into the rich tapestry of the city's past. Through informative content, interactive tools, and immersive experiences, we aspire to create an educational platform that fosters a deep appreciation for the cultural and historical significance of Manila's landmarks. Join us on this enlightening journey as we strive to make learning about Manila's history an enjoyable and enriching experience for people of all backgrounds.

{% endblock %}