{% extends "base.html" %}
{% block title %} About Page {% endblock %}
{% block content %}
<h1>Contact Us!!!</h1>
<p>Feel free to reach out to us with any inquiries, feedback, or collaboration opportunities. Our dedicated team is here to assist you, and we welcome the chance to engage with our audience. You can contact us through the provided form on our website or directly via email at jamesdiamseiv@gmail.com. We appreciate your interest and look forward to hearing from  Form.</p>
{% endblock %}