{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
<h1>10 HISTORICAL BUILDINGS IN MANILA</h1>
<center><img src="/media/@reallygreatsite.png" alt="Anime"  height="75%" width="75%"></center>
<br>
<h2>Discover 10 manila historical buildings!! </h2>
<h3>1. Aduana Building</h3>
<p> The Aduana Building, also known as the Intendencia, was a Spanish colonial structure in Manila, Philippines, that housed several government offices through the years. It is located in front of the BPI Intramuros at Plaza España, Soriano Ave. corner Muralla St. in Intramuros.</p>
<center><img src="/media/2Intendencia-Building.jpg" alt="Anime"  height="50%" width="50%"></center>


<h3>2. Intramuros</h3>
<p> Old-world Intramuros is home to Spanish-era landmarks like Fort Santiago, with a large stone gate and a shrine to national hero José Rizal. The ornate Manila Cathedral houses bronze carvings and stained glass windows, while the San Agustin Church museum has religious artwork and statues. Spanish colonial furniture and art fill Casa Manila museum, and horse-drawn carriages (kalesa) ply the area’s cobblestone streets.</p>
<center><img src="/media/0-02-08-5d1bc254057d6784baddd8711c81e51a8f53b3cdc00fd33fc22bbd566aad045858f7b7c5.jpg" alt="Anime"  height="50%" width="50%"></center>

<h3>             </h3>
<h3>             </h3>
<h3>3. Rizal Park</h3>
<p>Rizal Park, widely known as Luneta Park is an iconic park that carries with it a rich history, as it is the location where the country's National Hero, Dr. Jose Rizal was executed. The park was also formerly known as Bagumbayan during the Spanish Occupation in the Philippines.</p>
<center><img src="/media/3723552249_23ceded8bb_b.jpg" alt="Anime"  height="50%" width="50%"></center>


<h3>4. The Manila Cathedral</h3>
<p>The Minor Basilica and Metropolitan Cathedral of the Immaculate Conception, commonly and popularly known as the Manila Cathedral, is a Roman Catholic minor basilica and the cathedral church of the Archdiocese of Manila located in Intramuros, the historic walled city within today's modern city of Manila, Philippines.</p>
<center><img src="/media/c7ed028c9c0fa5fb3c96e1cb575e1afb.jpg" alt="Anime"  height="50%" width="50%"></center>


<h3>5. Fort Santiago</h3>
<p>Fort Santiago, built in 1571, is a citadel built by Spanish navigator and governor Miguel López de Legazpi for the newly established city of Manila in the Philippines. The defense fortress is located in Intramuros, the walled city of Manila. The fort is one of the most important historical sites in Manila.</p>
<center><img src="/media/3a94f6e8-cbb6-4de4-8438-e130dd65f78c.jpg" alt="Anime"  height="50%" width="50%"></center>


<h3>6. Casa Manila</h3>
<p>The museum is the imposing stone-and-wood structure c. 1850, one of the grand houses in Barrio San Luis (one of the four original villages of Intramuros) is located across historic San Agustin church and bounded by Calle Real, General Luna, Cabildo and Urdaneta streets. The other two are the Los Hidalgos, c. 1650 and Cuyugan Mansion, c. 1890.</p>
<center><img src="/media/800px-Casa_Manila_museum_(17106152838).jpg" alt="Anime"  height="50%" width="50%"></center>


<h3>7. Cultural Center of the Philippines</h3>
<p>The Cultural Center of the Philippines Complex, also known as the CCP Complex, is an 88-hectare art district managed by the Cultural Center of the Philippines located along Roxas Boulevard in Metro Manila, Philippines.</p>
<center><img src="/media/7893954874_77be7b648a_b.jpg" alt="Anime"  height="50%" width="50%"></center>


<h3>8. Manila City Hall</h3>
<p>The Manila City Hall is the official seat of government of the City of Manila, located in the historic center of Ermita, Manila. It is where the Mayor of Manila holds office and the chambers of the Manila City Council is located.</p>
<center><img src="/media/Drone-Manila-City-Hall.jpg" alt="Anime"  height="50%" width="50%"></center>


<h3>9. Philippine Postal Corporation</h3>
<p> The Manila Central Post Office, often called the Post Office Building, is the main postal office of Manila, which also serves as the headquarters of the Philippine Postal Corporation. It also houses the main mail sorting-distribution operations of the Philippines.</p>
<center><img src="/media/manila-central-post-office-640-1576660279.jpg" alt="Anime"  height="50%" width="50%"></center>


<h3>10. Malacañang Palace</h3>
<p>Malacañang Palace, officially known as Malacañan Palace, is the official residence and principal workplace of the president of the Philippines. It is located in the Manila district of San Miguel, along Jose P. Laurel Street though it is commonly associated with Mendiola Street nearby.</p>
<center><img src="/media/24165619-pg-288-b_cover_2000x1439.jpg" alt="Anime"  height="50%" width="50%"></center>


<h2></h2>
<ul>
    <li></li>
    <li></li>
    <li></li>
</ul>
<p></p>
{% endblock %}